/* Start adding your styling below! */ 
body {
    background-color: yellow;
    /*text-align: center;*/
}
p {
    color: green;
}
h1 {
    font-size: 36px;
}
.center {
    text-align: center;
}
#cool-text{
    color: blue;
}
#cool-list{
    color: purple;
}